* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@800&display=swap');
header {
    background: #FFF3A3;
    color: #F4B7F3;
    position: sticky;
    top: 0px;
}


/* h1 {
    color: #FFF3A3;
    background: #F4B7F3;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

h2,
h3 {
    color: #FFF3A3;
    background: #F4B7F3;
    text-align: center;
} */


/* .imagenes {
    width: 200px;
    height: 200px;
    padding: 35px;
}

.articulos {
    Quetupe+Losada\Imagenes\Rompecabezas.jpg
} */

.sobreNosotros {
    color: #F4B7F3;
    background: #FFF3A3;
    text-align: center;
    text-align: justify;
    padding: 20px;
    margin: 75px;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 800;
}

.menunav {
    display: inline-block;
    padding-left: 100px;
    margin: 0px;
}

.listaArticulos {
    display: inline;
    padding: 50px;
    list-style-type: none;
}

.fuente {
    font-family: 'Libre Franklin', sans-serif;
}

section {
    padding-top: 35px;
    padding-left: 20px;
    padding-right: 20px;
    align-content: center;
}

form {
    padding: 15px;
    text-align: right;
}

a {
    text-decoration: none;
}


/* legend {
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
} */

.centrado {
    text-align: center;
}

h3 {
    padding: 50px;
}

.articulosFlex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    font-weight: 800;
    padding-top: 35px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #FFF3A3;
    color: #F4B7F3;
}

.indexGrid {
    display: grid;
    grid-template-areas: "novedades " "decoracion ""juegos";
    grid-template-columns: auto;
    grid-row-gap: 10px;
    align-content: center;
}

section#novedades {
    grid-area: novedades;
}

section#decoracion {
    grid-area: decoracion;
}

section#juegos {
    grid-area: juegos;
}


/* footer {
    padding-top: 35px;
    padding-left: 20px;
    padding-right: 20px;
} */

.tracking-in-expand {
    -webkit-animation: tracking-in-expand 1.2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: tracking-in-expand 1.2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@-webkit-keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}

@keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}

.focus-in-expand {
    -webkit-animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes focus-in-expand {
    0% {
        letter-spacing: -0.5em;
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }
    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

@keyframes focus-in-expand {
    0% {
        letter-spacing: -0.5em;
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }
    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}