    $Amarillo: #FFF3A3;
    $rosa:#F4B7F3;
    $rosa2:#d664d4;
    $TamañoFuente:50px;
    $fuente:30px italic bold;
    $violeta:#CBB4F8;
    @mixin FrosaLamarrillo {
        color: $Amarillo;
        background-color: $rosa;
    }
    
    @mixin FamarilloLrosa {
        color: $rosa;
        background-color: $Amarillo;
    }
    
    @mixin Tamaños {
        width: 200px;
        height: 200px;
        padding: 35px;
    }
    
    @mixin Padding {
        padding-top: 35px;
        padding-left: 20px;
        padding-right: 20px;
    }
    
    .articulos .imagenes {
        @include Tamaños();
        width: 200px;
        height: 200px;
        padding: 35px;
    }
    
    .fondo {
        @include FamarilloLrosa();
        font-weight: bolder;
    }
    
    .cardFondo {
        @include FrosaLamarrillo();
    }
    
    h2 {
        @include FrosaLamarrillo();
        text-align: center;
    }
    
    h3 {
        @include FrosaLamarrillo();
        text-align: center;
        padding: 0;
    }
    
    h1 {
        padding-top: 25px;
        padding-bottom: 25px;
        @include FrosaLamarrillo();
        text-align: center;
    }
    
    legend {
        font: $fuente
    }
    
    footer {
        background: $Amarillo;
        color: $rosa2;
        @include Padding();
    }
    
    .videos {
        @include FamarilloLrosa();
        @include Padding();
        justify-content: center;
        text-align: center;
        font-weight: 800;
    }