          * {
              margin: 0;
              padding: 0;
          }
          
          @import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@200&display=swap');
          @import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@800&display=swap');
          header {
              background: #FFF3A3;
              color: #F4B7F3;
              position: sticky;
              top: 0px;
          }
          
          body {
              background: #CBB4F8;
          }
          
          h1 {
              color: #FFF3A3;
              background: #F4B7F3;
              text-align: center;
              padding-top: 25px;
              padding-bottom: 25px;
          }
          
          h2,
          h3 {
              color: #FFF3A3;
              background: #F4B7F3;
              text-align: center;
          }
          
          .fondo {
              background: #FFF3A3;
              color: #F4B7F3;
              font-weight: 800;
          }
          
          .sobreNosotros {
              color: #F4B7F3;
              background: #FFF3A3;
              text-align: center;
              text-align: justify;
              padding: 20px;
              margin: 75px;
              font-family: 'Libre Franklin', sans-serif;
              font-weight: 800;
              animation-duration: 1.5s;
              animation-name: jelloHoriz;
              animation-iteration-count: 2;
          }
          
          .menunav {
              display: inline-block;
              padding-left: 100px;
              margin: 0px;
          }
          
          .articulos {
              width: 200px;
              height: 200px;
              padding: 35px;
          }
          
          .listaArticulos {
              display: inline;
              padding: 50px;
              list-style-type: none;
          }
          
          .fuente {
              font-family: 'Libre Franklin', sans-serif;
          }
          
          section {
              padding-top: 35px;
              padding-left: 20px;
              padding-right: 20px;
          }
          
          form {
              padding: 15px;
              text-align: right;
          }
          
          a {
              text-decoration: none;
          }
          
          legend {
              font-size: 30px;
              font-style: italic;
              font-weight: bold;
          }
          
          .centrado {
              text-align: center;
          }
          
          h3 {
              padding: 50px;
          }
          
          .articulosFlex {
              display: flex;
              flex-direction: row;
              flex-wrap: wrap;
              justify-content: center;
              text-align: center;
              font-weight: 800;
              padding-top: 35px;
              padding-left: 20px;
              padding-right: 20px;
              background-color: #FFF3A3;
              color: #F4B7F3;
          }
          
          .indexGrid {
              display: grid;
              grid-template-areas: "novedades " "decoracion ""juegos";
              grid-template-columns: auto;
              grid-row-gap: 10px;
              align-content: center;
          }
          
          section#novedades {
              grid-area: novedades;
          }
          
          section#decoracion {
              grid-area: decoracion;
          }
          
          section#juegos {
              grid-area: juegos;
          }
          
          .videos {
              justify-content: center;
              text-align: center;
              font-weight: 800;
              padding-top: 35px;
              padding-left: 20px;
              padding-right: 20px;
              background-color: #FFF3A3;
              color: #F4B7F3;
          }
          
          footer {
              padding-top: 35px;
              padding-left: 20px;
              padding-right: 20px;
          }
          
          @media screen and (max-width:768px) {
              /*         body {
              background-color: black;
             }*/
              body {
                  background-image: linear-gradient(to bottom, red, green);
              }
              .articulos {
                  width: 50px;
                  height: 50px;
                  padding: 15px;
              }
              .menunav {
                  display: inline-block;
                  padding-left: 25px;
                  margin: 0px;
              }
          }
          
          @keyframes jelloHoriz {
              0% {
                  -webkit-transform: scale3d(1, 1, 1);
                  transform: scale3d(1, 1, 1);
              }
              30% {
                  -webkit-transform: scale3d(1.25, 0.75, 1);
                  transform: scale3d(1.25, 0.75, 1);
              }
              40% {
                  -webkit-transform: scale3d(0.75, 1.25, 1);
                  transform: scale3d(0.75, 1.25, 1);
              }
              50% {
                  -webkit-transform: scale3d(1.15, 0.85, 1);
                  transform: scale3d(1.15, 0.85, 1);
              }
              65% {
                  -webkit-transform: scale3d(0.95, 1.05, 1);
                  transform: scale3d(0.95, 1.05, 1);
              }
              75% {
                  -webkit-transform: scale3d(1.05, 0.95, 1);
                  transform: scale3d(1.05, 0.95, 1);
              }
              100% {
                  -webkit-transform: scale3d(1, 1, 1);
                  transform: scale3d(1, 1, 1);
              }
          }